@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/1bd3de6fcdd9ba7750e5a353dc6ef6e3?family=SF+Pro+Text');
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'SF Pro Text', sans-serif;
*/
body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFCF4;
}
.container {
    margin: 0 auto;
    max-width: 1322px;
    padding: 0 20px;
}
.yellow{
    color: #F7B006;
}
.section-title{
    font-family: 'SF Pro Text', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #4E4E4E;
}
/* NAV 
////////////////////////////////////////////////////////////*/
.nav-row{
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.nav-items {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    column-gap: 60px;
    align-items: flex-end;
}
.nav-link{
    color: #1E1E1E;
}
.nav-link:hover{
    text-shadow: 1px 1px 2px #BDBDBD;
}
.nav-link:active,.nav-link:focus{
    color: #F7B006;
}
.lang{
    display: flex;
    column-gap: 3px;
    color: #1E1E1E;
    align-items: center;
}
.lang-select{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 1px 1px;
    border-radius: 1px;
}
.burger-button{
    display: none;
}
/* HEADER
////////////////////////////////////////////////////////////*/
.header-text {
    margin-top: 200px;
    text-align: center;
}
.header-title {
    font-family:'SF Pro Text', sans-serif; 
    font-weight: 700;
    font-size: 72px;
}
.header-quote {
    max-width: 780px;
    margin: 22px auto 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #858585;
}
.header-button {
    margin-top: 58px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 15px 30px;
    background-color: #F7B006;
    color: #000;
    transition: 0.2s ease-in
}
.header-button:hover{
    background-color: #f1c356;
}
.header-button:active{
    top: 1px;
    position: relative;
}
.about-us {
    max-width: 1120px;
    margin: 252px auto 0;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}
.about-item {
    text-align: center;
    max-width: 28%;
    min-width: 305px;
}
.about-img{
    margin-bottom: 19px;
}
.about-title {
    font-weight: 700;
    font-size: 39px;
    margin-bottom: 39px;
}
.about-text {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    color: #747474;
    letter-spacing: -1px;
}
.heart{
    margin-bottom: 35px;
}
/* PROJECTS 
////////////////////////////////////////////////////////////*/
.projects-all{
    margin-top: 180px;
    text-align: center;
}

.project-examp {
    max-width: 620px;
    margin: 78px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 250px;
    row-gap: 104px;
}
.project-item {
    display: flex;
    flex-direction: column;
    max-height: 218px;
    align-items: center;
    justify-content: flex-end;
}
.project-name{
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-top: 45px;
}
.total-projects {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
}
.text {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 36px;
    font-weight: 500;
}
.number {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 72px;
    font-weight: 500;
}
.customers-number {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
}
/*TEAM
////////////////////////////////////////////////////////////*/
.our-team {
    margin-top: 140px;
    text-align: center;
}
.team-title .section-title {
    margin-bottom: 10px;
}
.team-quote {
    font-family: 'SF Pro Text', sans-serif;
    color: #222222;
    font-size: 30px;
    font-weight: 500;
}
.team-description {
    margin-top: 184px;
}
.team-description-title {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.team-description-text {
    max-width: 868px;
    margin: 40px auto 0;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #222222;
}
.transition-text {
    margin-top: 178px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'SF Pro Text', sans-serif;
    color:#4E4E4E;
}
.team-line-up {
    margin-top: 300px;
}
.team-member {
    margin: 0 auto;
    max-width: 1136px;;
}
.team-member:nth-child(2){
    justify-content: flex-end;
}
.team-member + .team-member{
    margin-top: 34px;
}
.team-member-image{
    border: 0.4px #000 solid ;
    border-radius: 50%;
}
.team-member-name {
    font-size: 48px;
    font-weight: 700;
}
.team-member-text{
    display: flex;
    column-gap: 50px;
    align-items: center;
}
.team-member-description {
    margin-top: 10px;
    font-size: 25px;
    font-weight:500;
    max-width: 733px;
    text-align:justify;
}
.team-hiring {
    background-color: rgba(255, 0, 0,25%);
    max-width: 870px;
    margin: 187px auto 0;
    padding: 52px 0 96px 0;
    border-radius: 25px;
}
.hiring-upper {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.hiring-title {
    color: #D10000;
}
.hiring-text {
    margin: 15px auto 0;
    color: #4B4B4B;
    max-width: 630px;
    text-align: justify;
    letter-spacing: -1px;
}
.hiring-lower {
    margin-top: 76px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    column-gap: 99px;
    align-items: center;
}
.hiring-profs {
    font-family: 'SF Pro Text', sans-serif;
    
}
.hiring-head {
    margin-bottom: 7px;
    font-size: 40px;
    color: #D10000;
}
.hiring-vacancy {
    font-size: 36px;
    color: #4B4B4B;
}
.hiring-vacancy + .hiring-vacancy{
    margin-top: 9px;
}
.hiring-button {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF4343;
    padding: 14px 28px;
    background-color: #FFF;
    transition: 0.2s ease-in;
}
.hiring-button:hover{
    background-color: #000
}
.hiring-button:active{
    top: 1px;
    position: relative;
}
/*CONTACT US
////////////////////////////////////////////////////////////*/
.contact {
    text-align: center;
}
.section-title {
    margin-top: 221px;
}
.contact-form {
    margin-top: 50px;
}
.name {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
    border: 0.75px #BDBDBD solid;
    border-radius: 13px;
    padding: 20px 0px 20px 18px;
    width: 32%;
    min-width: 250px;
    font-size: 25px;
}
.name + .name{
    margin-left: 21px;
}
.message{
    margin: 16px auto 0;
    display: block;
    background-color: #FFF;
    border: 0.75px #BDBDBD solid;
    border-radius: 13px;
    padding: 15px 0 0 15px;
    font-size: 25px;
    min-height: 230px;
    max-width: 66%;
    min-width: 250px;
}
.submit-button{
    margin-top: 50px;
    padding: 7px 48px;
    background-color: #F7B006;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    transition: 0.2s ease-in
}
.submit-button:hover{
    background-color: #f1c356;
}
.submit-button:active{
    top: 1px;
    position: relative;
}
/*FOOTER
////////////////////////////////////////////////////////////*/
.footer{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.address {
    margin-top: 67px;
}
.footer-contacts {
    margin-top: 20px;
    display: flex;
    column-gap: 60px    ;
}
.space{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.socials{
    margin-top: 38px;
}
.social + .social{
    margin-left: 20px;
}
.policy{
    text-align: center;
}
.policy p{
    color:#4E4E4E;
    font-size: 10px;
    display: inline-block;
}
.policy p + .policy p{
    margin-left: 5px;
}